<!--suppress HtmlFormInputWithoutLabel -->
<app-header-bar imageUrl="../../assets/img/contact-bg-min.jpg" text="Super Secret Admin Login"></app-header-bar>
<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
          <form (ngSubmit)="submit()" [formGroup]="form">
            <div class="row">
              <div class="col-md-7 form-container mx-auto">
                <mat-form-field>
                  <input formControlName="username" matInput placeholder="Username" type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 form-container mx-auto">
                <mat-form-field>
                  <input formControlName="password" matInput placeholder="Password" type="password">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mx-auto form-container">
                <button class="btn btn-primary" type="submit">Login</button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
