<div class="container">
  <nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="navbar-expand m-auto navbar-text text-center p-0">
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/Confetti-Party-Decorating-153331954679475/" target="_blank">
            <fa-icon [icon]="['fab', 'facebook-square']" size="3x" style="color: #3B5998"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/confetti_party_decor/" target="_blank">
            <fa-icon [icon]="['fab', 'instagram']" size="3x"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="http://confetti.balloonhq.com/" target="_blank">
            <fa-icon icon="bold" mask="square" size="3x" style="color: orange;" transform="shrink-4"></fa-icon>
          </a>
        </li>
      </ul>
      <span class="small">Copyright © Jeremy Straus 2019</span>
    </div>
  </nav>
</div>
