<!--suppress HtmlFormInputWithoutLabel, RequiredAttributes -->
<app-header-bar imageUrl="../../assets/img/contact-bg-min.jpg" text="Balloons"></app-header-bar>
<div class="container">
  <h1 class="text-center">Balloons</h1>
  <div class="row">
    <div class="col-md-3 text-center">
      <a href routerLink="/gallery/arches">
        <img [defaultImage]="'../../assets/img/loading.gif'" [lazyLoad]="cdnUrl + '/arch.jpg'"
             alt="Arches" class="img-thumbnail balloon-box">
        <h5 class="text-dark">Arches</h5>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href routerLink="/gallery/room_decor">
        <img [defaultImage]="'../../assets/img/loading.gif'" [lazyLoad]="cdnUrl + '/room.jpg'"
             alt="Room Decor" class="img-thumbnail balloon-box">
        <h5 class="text-dark">Room Decor</h5>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href routerLink="/gallery/centerpieces">
        <img [defaultImage]="'../../assets/img/loading.gif'" [lazyLoad]="cdnUrl + '/centerpiece.jpg'"
             alt="Centerpieces" class="img-thumbnail balloon-box">
        <h5 class="text-dark">Centerpieces</h5>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href routerLink="/gallery/columns">
        <img [defaultImage]="'../../assets/img/loading.gif'" [lazyLoad]="cdnUrl + '/columns.jpg'"
             alt="Columns" class="img-thumbnail balloon-box">
        <h5 class="text-dark">Columns</h5>
      </a>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3 text-center">
      <a href routerLink="/gallery/names">
        <img [defaultImage]="'../../assets/img/loading.gif'" [lazyLoad]="cdnUrl + '/namenum.jpg'"
             alt="Letters & Numbers" class="img-thumbnail balloon-box">
        <h5 class="text-dark">Letters & Numbers</h5>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href routerLink="/gallery/frames">
        <img [defaultImage]="'../../assets/img/loading.gif'" [lazyLoad]="cdnUrl + '/frames.jpg'"
             alt="Photo Frames" class="img-thumbnail balloon-box">
        <h5 class="text-dark">Photo Frames</h5>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href routerLink="/gallery/graduation">
        <img [defaultImage]="'../../assets/img/loading.gif'" [lazyLoad]="cdnUrl + '/promgrad.jpg'"
             alt="Prom & Graduation" class="img-thumbnail balloon-box">
        <h5 class="text-dark">Prom & Graduation</h5>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a href routerLink="/gallery/sculptures">
        <img [defaultImage]="'../../assets/img/loading.gif'" [lazyLoad]="cdnUrl + '/sculptures.jpg'"
             alt="Sculptures" class="img-thumbnail balloon-box">
        <h5 class="text-dark">Sculptures</h5>
      </a>
    </div>
  </div>
</div>
