<!--suppress RequiredAttributes -->
<app-header-bar imageUrl="../../assets/img/contact-bg-min.jpg" text="Balloons"></app-header-bar>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <a class="text-dark" routerLink="/balloon-gallery">
        <fa-icon icon="arrow-circle-left" size="2x"></fa-icon>
        <h3 class="d-inline-block ml-1">Back</h3>
      </a>
    </div>
    <div *ngIf="type.indexOf('centerpiece') > -1" class="col-md-8">
      <ul class="list-inline mx-auto text-center">
        <li class="list-inline-item">
          <a class="btn btn-outline-primary" routerLink="/gallery/centerpieces">Centerpieces</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-primary" routerLink="/gallery/centerpieces_bubbles">Bubbles</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-primary" routerLink="/gallery/centerpieces_three_foot">Large Balloon</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-primary" routerLink="/gallery/centerpieces_custom">Personalized</a>
        </li>
      </ul>
    </div>
    <div *ngIf="type === 'prom' || type === 'graduation'" class="col-md-8">
      <ul class="list-inline mx-auto text-center">
        <li class="list-inline-item">
          <a class="btn btn-outline-primary" routerLink="/gallery/prom">Prom</a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-outline-primary" routerLink="/gallery/graduation">Graduation</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let image of images; let i=index" class="col-md-3 px-3 py-1">
      <div class="crop-image bg-dark">
        <img (click)="open(i)" [defaultImage]="defaultImage" [lazyLoad]="cdnUrl + '/' + image.filename"
             alt="{{image.filename}}">
      </div>
    </div>
  </div>
</div>
