<!--suppress RequiredAttributes, HtmlFormInputWithoutLabel -->
<app-header-bar imageUrl="../../assets/img/contact-bg-min.jpg" text="Image Upload"></app-header-bar>
<alert class="position-fixed mx-auto alert-shift" *ngIf="alertMessage" type="success">
  <button type="button" class="close" (click)="closeAlert()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{alertMessage}}
</alert>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <ul class="col text-center list-inline">
        <li class="list-inline-item">
          <a routerLink="/admin-upload" class="btn btn-outline-primary">Image Upload</a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/admin-sort" class="btn btn-outline-primary">Image Sorting</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 form-container ml-auto">
      <mat-form-field>
        <mat-label>Category Type</mat-label>
        <mat-select [(value)]="type" (selectionChange)="fetchCategories()">
          <mat-option *ngFor="let option of types" value="{{option}}">{{option | titlecase}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4 form-container mr-auto">
      <mat-form-field>
        <mat-label>Image Type</mat-label>
        <mat-select (selectionChange)="fetchImages()" [(value)]="option" [disabled]="!type">
          <mat-option *ngFor="let option of categories"
                      value="{{option.folderName}}">{{option.categoryName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 form-container mx-auto">
      <button class="btn btn-outline-primary" (click)="saveAllImages()" [disabled]="!images || images.length === 0">Update All Images</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 px-3 py-1" *ngFor="let image of images">
      <div class="crop-image bg-dark rounded-top">
        <img style="cursor: auto !important;" [defaultImage]="defaultImage" [lazyLoad]="cdnUrl + '/' + image.filename"
             alt="{{image.filename}}">
      </div>
      <div class="py-2 border border-dark rounded-bottom text-center">
        <mat-form-field>
          <input matInput type="text" placeholder="File Name" [(ngModel)]="image.filename" disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Image Name" [(ngModel)]="image.imageName">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Image Order" [(ngModel)]="image.imageOrder">
        </mat-form-field>
        <br>
        <div class="row m-0">
          <div class="form-container col-md-5 ml-auto pl-0 pr-1">
            <button class="btn btn-outline-primary text-center" (click)="saveImage(image)">Save</button>
          </div>
          <div class="form-container col-md-5 mr-auto pr-0 pl-1">
            <button class="btn btn-outline-danger text-center" (click)="deleteImage(image.imageId)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
