<app-header-bar imageUrl="../../assets/img/about-bg-min.jpg" text="About Us"></app-header-bar>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img alt="Profile Image" class="img-fluid" src="../../../assets/img/profile.jpg">
    </div>
    <div class="col-sm-8 d-flex align-items-center">
      <div>
        <h3>A Company is Born</h3>
        <p>
          Our story starts with a simple idea born from the stress of a joyous event.
          My oldest son was having his Bar-Mitzvah in 2005. My profession as a graphic designer
          inspired me to created his custom centerpieces but I needed to hire a balloon decorator,
          as I had no education with balloons. Once I saw my vision come to life with the balloons,
          I figured I could totally do that, and thus the idea of Confetti Party Decorating was born.
        </p>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-offset-4 col-sm-12">
      <h3>Transition to Decorated Decorator</h3>
      <p>
        Two years later I became a CBA — Certified Balloon Artist, and quickly after that I began to win awards.
        My designs were not only published in several manufacturer's catalogs, but also placed several times
        in twisting and decorating competitions.
        In 2015, at the FLOAT Balloon Convention, I won “Decorator of the Year".
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-4 col-sm-12">
      <h3>From Decorator to Professor</h3>
      <p>
        With additional experience and education, I graduated even further.
        A major <span (click)="navigateToLogin()">balloon</span> company hired me to teach other balloon decorators new
        designs, techniques, tips, and tricks of
        the trade.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-4 col-sm-8">
      <h3>Be Part of Our Story!</h3>
      <p>
        Let Confetti Party Decorating make the vision of your party come to life.
        <a routerLink="/contact-us" style="color: #0797CF;">Contact us today!</a>
      </p>
    </div>
  </div>
</div>
