<header class="intro-header" style="background-image: url('../../../assets/img/home-bg-min.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="site-heading p-">
          <img [ngClass]="this.isScreenSmall$ ? '' : 'big-image'" alt="Confetti Logo" id="logo"
               src="../../../assets/img/Confetti.png">
          <br>
          <h6>Party Decorating</h6>
          <span [ngClass]="isScreenSmall$ ? '' : 'big-subheading'" class="subheading">for All Your Celebrations and Gatherings</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 text-center home-body">
      <h3>You think it... We create it!</h3>
      <br>Elegant, Exciting, Fancy, or Fun.
      <br>From the basement to the ballroom, let's create it as one!
      <br>Custom tailored to fit your Style, Taste, and Budget!<br>
      <ul class="list-inline text-center mt-3">
        <li class="list-inline-item"><img alt="CBA" src="../../../assets/img/certifications/cba.gif"></li>
        <li class="list-inline-item"><img alt="Betallic" height="80"
                                          src="../../../assets/img/certifications/betallic.jpg">
        </li>
        <li class="list-inline-item"><img alt="BHQ" src="../../../assets/img/certifications/bhq.gif"></li>
        <li class="list-inline-item"><img alt="Qualatex" src="../../../assets/img/certifications/qualatex.gif"></li>
      </ul>
      <span style="font-size: small">Rockland Based Balloon Decor</span>
    </div>
  </div>
</div>
